// DOCUMENT VIEWING & EDITING
// --------------------------

.citeplasmDocument {
    .shared-font {
        font-family: 'Arial, Helvetica, sans-serif' !important;
    }

    //padding: 40px !important;

    // METADATA
    // --------
    .metadata {
        margin-bottom: 30px;
    
        .title, .author, .abstract {
            margin: 0 auto 20px auto;
            .shared-font;
        }

        .title {
            font-size: 28px;
            line-height: 35px;
            border-bottom: 1px solid @darkAccentColor;
        }

        .author {
            font-size: 16px;
            line-height: 21px;
            padding-bottom: 5px;
            color: @gray;
            
            a {
            }

            a:hover, a:active {
                border-bottom-color: @grayLight;
                color: @grayLight;
            }
        }

        .abstract {
            p {
                font-style: italic;
                color: @gray;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    // THE DOCUMENT BODY
    // -----------------
    .body {

        // DOCUMENT BODY HEADINGS
        // ----------------------
        counter-reset: h1 0;

        h1, h2, h3, h4, h5 {
            margin-top: 40px;
            margin-bottom: 20px;
            .shared-font;
        }

        h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
            margin-top: 0px;
        }

        h1:before {
            counter-increment: h1 1;
            content: counter(h1, decimal) ". ";
        }
        
        h1 {
            counter-reset: h2 0;
            border-bottom: 1px solid @darkAccentColor;
            color: @gray;
            font-size: 20px;
            line-height: 25px;
            font-weight: normal;
        }

        h2:before {
            counter-increment: h2 1;
            content: counter(h1, decimal) "." counter(h2, decimal) " ";
        }

        h2 {
            color: @gray;
            font-size: 16px;
            line-height: 21px;
            font-weight: bold;
        }

        // DOCUMENT BODY ELEMENTS
        // ----------------------
        p {
            font-family: 'Karla' !important;
            font-size: 15px;
            line-height: 20px;
            .shared-font;
        }
    }
}
