// ICONS
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------

@iconPath: "/citeplasm/resources/images/famfamfam";

// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class 
// of .i and are then given a unique class to add width, height, 
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-position: 0px 0px;
  background-repeat: no-repeat;

  .ie7-restore-right-whitespace();
}

.icon-history {
    background-image: url("@{iconPath}/time.png");
}

.icon-edit {
    background-image: url("@{iconPath}/book_edit.png");
}

.icon-new {
    background-image: url("@{iconPath}/add.png");
}

.icon-new-doc {
    background-image: url("@{iconPath}/book_add.png");
}

.icon-doc {
    background-image: url("@{iconPath}/book.png");
}

.icon-note {
    background-image: url("@{iconPath}/note.png");
}

.icon-new-note {
    background-image: url("@{iconPath}/note_add.png");
}

.icon-export {
    background-image: url("@{iconPath}/book_go.png");
}

.icon-resources {
    background-image: url("@{iconPath}/table_multiple.png");
}

.icon-new-resource {
    background-image: url("@{iconPath}/table_add.png");
}

.icon-resource {
    background-image: url("@{iconPath}/table.png");
}

.icon-toc {
    background-image: url("@{iconPath}/report.png");
}

.icon-search {
    background-image: url("@{iconPath}/magnifier.png");
}

.icon-search-adv {
    background-image: url("@{iconPath}/magnifier_zoom_in.png");
}

.icon-home {
    background-image: url("@{iconPath}/house.png");
}

.icon-settings {
    background-image: url("@{iconPath}/cog.png");
}

// STYLES FOR VARIOUS PLACEMENTS
// -----------------------------

.btn [class^="icon-"], .btn [class*=" icon-"] {
    margin-right: 6px;
}

.btn-icon [class^="icon-"], .btn-icon [class*=" icon-"] {
    margin-right: 0px !important;
}

a [class^="icon-"], a [class*=" icon-"] {
    margin-right: 6px;
}

