// TOPBAR
// A horizontal bar across the top of the screen
// ---------------------------------------------

@import "http://fonts.googleapis.com/css?family=Short+Stack:400normal&subset=all";

.citeplasm{
    .topbar, .topsubbar {
        .container-fluid;
        position: fixed;
        left: 0px;
        right: 0px;
        z-index: 1000;
    }
    
    .topbar {
        top: 0px;
        height: @topbarHeight;

        @topbarLight: #2973C6;
        @topbarDark: #155298;

        #gradient > .vertical(@topbarLight, @topbarDark);

        a {
            color: @white;
                text-shadow: @gray 2px 2px 1px;
        }

        a:hover, a:hover {
            text-decoration: none;
            color: @yellow;
            background-color: none;
        }

        .brand {
            float: left;
            line-height: @topbarHeight;

            a {
                font-family: "Short Stack", serif;
                font-size: 20px;
                letter-spacing: 3px;
            }
        }

        .nav {
            .nav-horiz-right;

            margin-bottom: 0;

            li {
                line-height: @topbarHeight;
                
                a {
                    font-weight: bold;

                    img {
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }

                a:hover {
                    background: none;
                }

                a.btn {
                    margin-top: 5px;
                }
            }

            // Dividers (basically a vertical hr)
            .divider-vertical {
                height: @navbarHeight;
                width: 1px;
                margin: 0 9px;
                overflow: hidden;
                background-color: @topbarDark;
                border-right: 1px solid @topbarLight;
                padding: 0;
            }
        }
    }

    .topsubbar {
        top: @topbarHeight;
        height: @topsubbarHeight;

        .box-shadow(0 1px 3px rgba(0,0,0,.35));

        border-top: none;
        border-left: none;
        border-right: none;

        ul {
            margin: 0;
            
            li {
                line-height: @topsubbarHeight;
            }
        }
    }
}
