// TOPBAR
// A horizontal bar across the top of the screen
// ---------------------------------------------

@import "http://fonts.googleapis.com/css?family=Short+Stack:400normal&subset=all";

.citeplasm{
    .topbar, .topsubbar {
        .container-fluid();
    }
    
    .topbar {
        height: @topbarHeight;

        background-color: @accentColor;
        border-bottom: 1px solid @darkAccentColor;

        a {
            color: @accentLinkColor;
        }

        a:hover, a:hover {
            text-decoration: underline;
            background-color: none;
        }

        .brand, .brand:visited {
            float: left;
            line-height: @topbarHeight;
            font-family: "Short Stack", serif;
            font-size: 24px;
            letter-spacing: 3px;
            text-shadow: none;
        }

        .brand:hover, .brand:active {
            text-decoration: none;
        }

        .search {
            line-height: @topbarHeight;
            margin-left: 60px;

            input {
                margin: 0 10px 0 0;
                border: 1px solid @darkAccentColor;
                line-height: 20px;
                height: 20px;
                min-width: 450px;
                background-color: @white;
            }

            input:active, input:focus {
                border-color: @linkColor;
            }

            .btn {
                color: @white;
            }

            .btn:hover, .btn:active {
                text-decoration: none;
            }
        }

        .nav {
            .nav-horiz-right;

            margin-bottom: 0;

            li {
                line-height: @topbarHeight;
                
                a {
                    font-weight: bold;

                    img {
                        vertical-align: middle;
                        margin-left: 10px;
                    }

                    i[class^="icon-"],
                    i[class*=" icon-"] {
                        margin-right: 10px;
                    }
                }

                a:hover {
                    background: none;
                }

                a.btn {
                    margin-top: 5px;
                }
            }

            // Dividers (basically a vertical hr)
            .divider-vertical {
                height: @topbarHeight;
                width: 1px;
                margin: 0 9px;
                overflow: hidden;
                background-color: @darkAccentColor;
                border-right: 1px solid @accentColor;
                padding: 0;
            }
        }
    }

    .topsubbar {
        height: @topsubbarHeight;
        margin-bottom: 20px;

        background: transparent;
        border-bottom: 1px solid @darkAccentColor;
        color: @black;

        ul {
            margin: 0;
            
            li {
                line-height: @topsubbarHeight;
            }
        }
    }
}
