/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using LESS: http://lesscss.org.
 */

// CSS Reset
@import 'bootstrap/less/reset.less';

// Core variables and mixins
@import "bootstrap/less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/less/mixins.less";

// Grid system and page structure
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/layouts.less";

// Base CSS
@import "bootstrap/less/type.less";
@import "bootstrap/less/code.less";
@import "bootstrap/less/forms.less";
@import "bootstrap/less/tables.less";

// Nav
@import "bootstrap/less/navs.less";

// Misc
@import "bootstrap/less/thumbnails.less";
@import "bootstrap/less/buttons.less";
@import "bootstrap/less/button-groups.less";
@import "bootstrap/less/sprites.less";

/* import Dijit style */
@import '../../dijit/themes/claro/claro.css';
@import "../../dojox/html/resources/ellipsis.css";

@iconSpritePath: "bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "bootstrap/img/glyphicons-halflings-white.png";

.bounded-box {
    color: #444;

    background: #fff;
    
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35), inset 0px 0px 6px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35), inset 0px 0px 6px rgba(255, 255, 255, 0.15);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35), inset 0px 0px 6px rgba(255, 255, 255, 0.15);
    
    border: 1px solid #666;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    padding: 10px;
    margin-bottom: 20px;

    .nav {
        .nav-header {
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
        }

        a, .nav-header {
            padding: 3px 5px;
        }
        
        a {
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }
    }
}

body {
    background-color: #38A;
    //background-image: url("img/bg.jpg");
    //background-repeat: repeat;
    //background-position: top left;
}

.main_body {
    padding: 50px;

    .brand {
        margin-bottom: 40px;
        font-size: 30px;

        a, a:visited {
            color: #FFF;
        }

        a:hover, a:active {
            color: #CCC;
            text-decoration: none;
        }
    }

    .main-menu {
        margin-bottom: 20px;

        .nav-header {
            color: #222;
            text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
        }

        a, a:visited {
            color: #FFF;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            font-weight: bold;
        }

        a:hover, a:active {
            text-decoration: underline;
            background-color: transparent;
        }
    }

    .docs-list {
        .thumbnail {
            width: 140px;
            max-height: 166px;
            min-height: 166px;
            padding: 10px;
            overflow: hidden;
            
            img, h5 {
                margin-bottom: 5px;
            }

            h6 a {
                color: #aaa;
                text-decoration: none;
            }
            h6 {
                margin-bottom: 10px;
            }

            h5, h6 {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h5, h6 {
                white-space: nowrap;
            }

            h6 a:hover, h6 a:active {
                color: #aaa;
                text-decoration: underline;
            }
        }

        .thumbnail:hover {
            border-color: #999;

            -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75), inset 0px 6px 6px rgba(255, 255, 255, 0.15);
            -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75), inset 0px 6px 6px rgba(255, 255, 255, 0.15);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75), inset 0px 6px 6px rgba(255, 255, 255, 0.15);
        }
    }

    .menu {
        margin: -20px -10px 20px 0;
        text-align: right;

        a, a:visited {
            margin-left: 10px;
            color: #888;
        }

        a:hover, a:active {
            color: #F60;
            text-decoration: none;
        }
    }
}

@import "documents.less";
