/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using LESS: http://lesscss.org.
 */

// CSS Reset
@import 'bootstrap/less/reset.less';

// Core variables and mixins
@import "bootstrap/less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/less/mixins.less";

// Grid system and page structure
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/layouts.less";

// Base CSS
@import "bootstrap/less/type.less";
@import "bootstrap/less/code.less";
@import "bootstrap/less/forms.less";
@import "bootstrap/less/tables.less";

// Nav
@import "bootstrap/less/navs.less";

// Misc
@import "bootstrap/less/thumbnails.less";
@import "bootstrap/less/buttons.less";

/* import Dijit style */
@import '../../dijit/themes/claro/claro.css';

body {
    background-color: #AAA;
    background-image: url("img/bg.jpg");
    background-repeat: repeat;
    background-position: top left;
}

.main_body {
    margin: 50px;
    color: #DDD;

    .brand {
        margin-bottom: 40px;
        font-size: 30px;

        a, a:visited {
            color: #FFF;
        }

        a:hover, a:active {
            color: #CCC;
            text-decoration: none;
        }
    }

    .main-menu {
        margin-bottom: 20px;

        a, a:visited {
            color: #999;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .2);

            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }

        a:hover, a:active {
            color: #444;
            background-color: #CCC;
        }
    }

    .docs-list {
        .thumbnail {
            width: 140px;
            border-color: #999;

            a, a:visited {
                color: #DDD;
            }
        }

        .thumbnail:hover {
            border-color: #F60;
            
            a, a:visited, a:hover, a:active {
                color: #F60;
            }
        }
    }
}

