/*
 * Documents
 */

.bounded-box {
    background: #fff;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35), inset 0px 0px 6px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35), inset 0px 0px 6px rgba(255, 255, 255, 0.15);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35), inset 0px 0px 6px rgba(255, 255, 255, 0.15);
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    padding: 10px;
    margin-bottom: 20px;

    .nav {
        .nav-header {
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
        }
    }
}

.document {
    counter-reset: section 0;

    .editable:focus {
        outline: 0;
    }

    .title {
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin-bottom: 20px;
    }

    .author {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 30px;

        a {
            color: #555;
        }
    }

    .abstract {
        color: #aaa;
        font-style: italic;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }

    .separator {
        background: #666;
        height: 1px;
        margin: 40px auto;
        width: 400px;
    }

    .heading1 {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .heading1::before {
        counter-increment: section;
        content: counter(section) " ";
        font-weight: bold;
        margin-right: 20px;
    }

    .paragraph {
        font-size: 16px;
        line-height: 18px;
    }
}
