<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-list">
                <li class="header">Actions</li>
                <li><a class="link-new-doc" href="#/browser/new-doc"><i class="icon-new-doc"></i>New Document</a></li>
                <li><a class="link-new-note" href="#/browser/new-note"><i class="icon-new-note"></i>New Note</a></li>
                <li><a class="link-new-resource" href="#/browser/new-resource"><i class="icon-new-resource"></i>New Resource</a></li>
                
                <li class="header">Folders</li>
                <li data-dojo-attach-point="folderTree"></li>
                
                <li class="header" data-dojo-attach-point="tagsHeader">Tags</li>
                
            </ul>
        </div>
        <div class="span10">
            <div class="thumbnail-list">
                <table class="table" id="${id}-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Last Modified</th>
                        </tr>
                    </thead>
                    <tbody id="${id}-table-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
