<div class="document bounded-box">
    <div class="menu">
        <a class="" href="#"><i class="icon-share"></i> Export</a>
        <a class="" href="#"><i class="icon-file"></i> Publish</a>
        <a class="" href="#"><i class="icon-time"></i> History</a>
        <a class="" href="#"><i class="icon-cog"></i> Settings</a>
        <a class="" href="#"><i class="icon-remove"></i> Close</a>
        <a class="" href="#"><i class="icon-list-alt"></i> Resources</a>
    </div>
    <div class="title editable" contenteditable="true" data-dojo-attach-point="titleNode">
        ${title}
    </div>
    <div class="author" data-dojo-attach-point="authorNode">
        <a href="#">${author}</a>
    </div>
    <div class="abstract editable" contenteditable="true">
        This is the document abstract.
    </div>
    <div class="separator"></div>
    <div class="heading1 editable" contenteditable="true">
        Sample Heading
    </div>
    <div class="paragraph editable" contenteditable="true">
        This is a paragraph of text.
    </div>
    <div class="heading1 editable" contenteditable="true">
        Heading the Second
    </div>
    <div class="paragraph editable" contenteditable="true">
        This is another paragraph of text.
    </div>
</div>
