<div class="nihilo">
    <div class="topbar">
        <div class="row-fluid">
            <ul class="nav pull-left">
                <li><a class="brand" href="#"><img src="/citeplasm/resources/images/logo_main.png" /></a></li>
                <li class="divider-vertical"></li>
                <li>
                    <input type="text" placeholder="Search..." name="search" /><a href="#" class=""><i class="icon-search-adv"></i></a>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="#/browser"><i class="icon-home"></i>Your Documents</a></li>
                <li><a href="#"><i class="icon-search"></i>Search</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="#"><img src="https://secure.gravatar.com/avatar/5dfdb19c3d8ba8050ce64c4f2a7b7e12?s=22" /> Josh Miller</a></li>
                <!--<li><a href="#">Documents</a></li>
                <li><a href="#">Notes</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Search</a></li>-->
            </ul>
        </div>
    </div>
    
    <!-- the breadcrumb will be updated by publish/subscribe with a data object
         that describes the breadcrumb data -->
    <div class="topsubbar">
        <div class="row-fluid">
            <div class="span9">
                <ul data-dojo-attach-point="breadcrumbListNode" class="breadcrumb">
                    <li class="active">Citeplasm</li>
                </ul>
            </div>
            <div class="span3">
                <ul class="toolbar-container" data-dojo-attach-point="toolbarListNode">
                </ul>
            </div>
        </div>
    </div>
    
    <!-- this is the dom node into which view widgets are attached. -->
    <div data-dojo-attach-point="viewNode"></div>

</div>
